

.header {
  @apply pt-4 max-lg:px-4;
}

/* Navbar Toggler */
.navbar-toggler {
  @apply cursor-pointer rounded-sm border-2 border-border p-1 lg:hidden;
}

.navbar-brand {
  @apply text-xl text-text;
}

.navbar-brand img {
  @apply max-h-full max-w-full;
}

.navbar {
  @apply relative flex max-w-[960px]! flex-wrap items-center justify-start rounded-full border border-border/50 bg-primary/50 px-6 py-2 backdrop-blur-md max-lg:py-4 sm:justify-end lg:justify-between lg:pl-4 lg:pr-3;
}

.navbar-nav {
  @apply max-h-[calc(100vh_-_100px)] max-lg:absolute max-lg:top-full max-lg:z-10 max-lg:overflow-auto max-lg:rounded-2xl max-lg:border max-lg:border-border max-lg:bg-primary max-lg:px-4 max-lg:py-6 max-lg:shadow max-sm:left-0 max-sm:w-full sm:w-[calc(100%_-_48px)] md:mt-2 lg:mt-0;
}

.navbar-nav .nav-item.active .mega-menu-wrapper {
  @apply visible;
}

.navbar-nav .nav-item.active .nav-link {
  @apply max-lg:border-border after:max-lg:visible;
}

.navbar-nav .nav-item .nav-link {
  @apply relative inline-block overflow-hidden rounded-full px-4 py-1 align-middle text-text transition duration-300 border border-transparent hover:border-border hover:after:opacity-100 hover:default:visible;
}

.navbar-nav .nav-item .nav-link .arrow-icon {
  @apply relative -z-10 inline-block align-[-2px] text-xs/snug transition-transform duration-300;
}

.navbar-nav .nav-item .nav-link::after {
  @apply invisible absolute left-1/2 top-1/2 -z-10 h-full w-full -translate-x-1/2 -translate-y-1/2 bg-linear-to-tr from-transparent to-dark/50 transition-opacity opacity-0 duration-300 content-[''];
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown .nav-link {
  @apply cursor-pointer select-none;
}

.nav-dropdown .mega-menu-wrapper {
  @apply top-0 flex-wrap gap-10 overflow-auto rounded-3xl border border-border bg-primary p-8 shadow-sm max-lg:mb-4 lg:left-1/2 lg:top-full lg:flex lg:max-h-[calc(100vh_-_300px)] lg:-translate-x-1/2 lg:flex-nowrap lg:gap-14 lg:border;
}

.nav-dropdown .nav-dropdown-list {
  @apply text-start;
}

.nav-dropdown .nav-dropdown-list .nav-dropdown-link {
  @apply block rounded-sm py-1.5 text-text transition hover:opacity-70 lg:whitespace-nowrap;
}

/* For Large Devices (Dropdown Arrow Icon) */
.nav-dropdown:hover .nav-link .arrow-icon {
  @apply lg:rotate-180 lg:transform;
}

/* For Small Devices */
.nav-dropdown.active .nav-link .arrow-icon,
.nav-dropdown.active .nav-link .icon {
  @apply max-lg:rotate-180;
}
